.tarif {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 33.3%;
  background-color: #070709;
  padding: 80px 60px 90px 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: auto;
  z-index: 1;
  overflow: hidden;
}
.tarif_title {
  color: #aeff01;
  margin-bottom: 60px;
  vertical-align: baseline;
}
.tarif_title::after {
  content: '🔥';
  margin-left: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.tarif:hover .tarif_title::after {
  opacity: 1;
}
.tarif_advantages {
  display: flex;
  gap: 11px;
  align-items: center;
}
.tarif_price {
  display: flex;
  align-items: baseline;
  padding: 92px 0 60px 0;
  gap: 15px;
  font-family: var(--neueMachina);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 84%;
  color: #ffffff;
}
.tarif_button_outline {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  bottom: 0;
  padding: 14px 45px;
  gap: 10px;
  border: 1px solid #aeff01;
  border-radius: 10px;
  font-family: var(--neueMachina);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #aeff01;
  z-index: 4;
}

#hover_light {
  position: absolute;
  z-index: 2;
  margin-left: -60px;
  margin-top: -80px;
}

#hover_light ellipse {
  transition: all 0.2s ease-in;
  filter: blur(131px);
}

.tarif:hover #hover_light ellipse {
  fill: #01d1ff;
}
