.container_title {
  display: flex;
  flex-direction: column;
  max-width: 1640px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #09090b;
}

.content_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.h1_title {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: var(--roboto);
}
.h2_title {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: var(--roboto);
  color: #fff;
}
.h3_title {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: var(--roboto);
  color: #fff;
}
.h4_title {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: var(--neueMachina);
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h4_title:hover {
  background: var(--gradient_hover);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
